<a href="https://colab.research.google.com/github/jadergreiner/ExerciciosPython/blob/main/An%C3%A1lise_de_dados_com_Python_e_Pandas_(DIO).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para análise da dados (DIO)

In [ ]:
# importando a biblioteca pandas
import pandas as pd

In [ ]:
# ler o conjunto de dados ## o parametro informado ignora os erros no arquivo
df = pd.read_csv("/content/drive/MyDrive/dataSets/Gapminder.csv", error_bad_lines=False, sep=";")

In [ ]:
# visuanlizando as 5 primeiras linhas
df.head(5)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
# alterando o nome das colunas
df = df.rename(columns={
          "country": "País",
          "continent": "continente",
          "year": "Ano",
          "lifeExp": "Expectativa de vida",
          "pop": "população total",
          "gdpPercap": "PIB"
          }
          )

In [ ]:
# total de linhas e colunas em nosso DF
df.shape
# retornar o nome das colunas
df.columns
# retornar o tipo de dados de cada coluna
df.dtypes
# retorna as últimas linhas >> tail() --- tail de cauda
df.tail(5)
# retorna informações estatísticas
df.describe()

               Ano  Expectativa de vida  população total            PIB
count  3312.000000          3312.000000     3.312000e+03    3312.000000
mean   1980.301630            65.246871     3.161489e+07   11317.115805
std      16.927294            11.768412     1.041193e+08   11369.142739
min    1950.000000            23.599000     5.941200e+04     241.165877
25%    1967.000000            58.337500     2.678572e+06    2514.625266
50%    1982.000000            69.610000     7.557218e+06    7838.505123
75%    1996.000000            73.657750     1.958522e+07   17357.879170
max    2007.000000            82.670000     1.318683e+09  113523.132900

In [ ]:
# realizando filtro nos dados

# retorna valores únicos 
df["continente"].unique()
# apenas valores específicos
filtro = df["continente"] == "Oceania"
df.loc[filtro]
# agrupamento de dados
df.groupby("continente")["País"].nunique()
# qual a expectativa média de vida para cada ano
df.groupby("Ano")["Expectativa de vida"].mean()
df.groupby(["País","Ano"])["Expectativa de vida"].mean()

País         Ano
Afghanistan  1952    28.801
             1957    30.332
             1962    31.997
             1967    34.020
             1972    36.088
                      ...
Zimbabwe     1987    62.351
             1992    60.377
             1997    46.809
             2002    39.989
             2007    43.487
Name: Expectativa de vida, Length: 3312, dtype: float64